<body ng-app="myapp">
  <!-- ubos header-->
  <div class="w3-row w3-gray" style="height: 50px; width: 100%">
    <div class="w3-quarter" style="height: 100%">
      <button
        id="openNav"
        onclick="w3_open()"
        style="height: 100%; width: 30%; background: white"
      >
        &#9776;
      </button>
    </div>
    <div class="w3-half" style="height: 100%">
      <h5>STUDENT</h5>
    </div>
    <div class="w3-quarter" style="height: 100%">
      <button
        style="height: 100%; width: 20%; border: none; background: transparent"
        class="w3-right w3-margin-right"
        ng-click="logout()"
      >
        <i style="font-size: 25px" class="fa-solid fa-right-from-bracket"></i>
      </button>
    </div>
  </div>

  <!--  hamburgrer-->
  <div
    id="mySidebar"
    style="display: none; background-color: black; color: white"
    class="w3-sidebar w3-bar-block w3-card w3-animate-left"
  >
    <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">
      close &times;
    </button>
    <a href="/#!/student" class="w3-bar-item w3-button">STUDENT</a>
    <a href="/#!/subject" class="w3-bar-item w3-button">SUBJECT</a>
    <a href="/#!/enrollment" class="w3-bar-item w3-button">ENROLLMENT</a>
    <a href="/#!/report" class="w3-bar-item w3-button">REPORT</a>
  </div>
  <br />
  <div id="main" style="width: 100%; height: 100%">
    <div class="w3-row" style="width: 100%">
      <div class="w3-third w3-card-2 w3-round-xlarge w3-padding">
        <form style="padding: 10px; width: 100%">
          <div>
            <label>ID NO.</label><br />
            <input
              type="number"
              id="idno"
              ng-model="newStudent.idno"
              style="
                text-align: center;
                width: 100%;
                border: none;
                border-bottom: 2px solid black;
              "
            />
          </div>
          <br />
          <div>
            <label>LASTNAME</label><br />
            <input
              type="text"
              id="lastname"
              ng-model="newStudent.lastname"
              style="
                text-align: center;
                width: 100%;
                border: none;
                border-bottom: 2px solid black;
              "
            />
          </div>
          <br />
          <div>
            <label>FIRSTNAME</label> <br />
            <input
              type="text"
              id="firstname"
              ng-model="newStudent.firstname"
              style="
                text-align: center;
                width: 100%;
                border: none;
                border-bottom: 2px solid black;
                margin-right: 5px;
              "
            />
          </div>
          <br />
          <div>
            <label>COURSE</label><br />
            <select
              name="course"
              id="course"
              ng-model="newStudent.course"
              style="
                text-align: center;
                width: 100%;
                border: none;
                border-bottom: 2px solid black;
              "
            >
              <option value="BSIT">BSIT</option>
              <option value="BSCS">BSCS</option>
              <option value="ACT">ACT</option>
            </select>
          </div>
          <br />
          <div>
            <label>LEVEL</label><br />
            <select
              name="level"
              id="level"
              ng-model="newStudent.level"
              style="
                text-align: center;
                width: 100%;
                border: none;
                border-bottom: 2px solid black;
              "
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
          <br />
          <div>
            <button
              class="w3-blue w3-padding w3-margin-right"
              ng-click="AddStudent()"
            >
              SAVE
            </button>
            <button class="w3-blue w3-padding" ng-click="ResetForm()">
              CANCEL
            </button>
          </div>
        </form>
      </div>
      <div
        class="w3-twothird w3-card-2 w3-round-xlarge w3-padding w3-border-black"
      >
        <br />
        <div class="w3-row">
          <div class="w3-quarter">
            <select ng-model="pageSize">
              <option ng-repeat="size in pagesizes" value="{{ size }}">
                {{ size }}
              </option>
            </select>
            Select size
          </div>
          <div class="w3-right w3-half" style="height: 100%">
            <label for="search"></label>
            <input
              placeholder="🔎 search..."
              type="text"
              id="search"
              ng-model="search"
              style="
                margin-right: 10px;
                border-radius: 10px;
                padding: 3px;
                font-size: 12px;
              "
              class="w3-padding w3-right"
            />
          </div>
        </div>
        <br />
        <div>
          <table class="w3-table-all">
            <tr>
              <th>ID NO.</th>
              <th>NAME</th>
              <th>COURSE & LEVEL</th>
              <th>ACTION</th>
            </tr>
            <tr
              ng-repeat="student in studentList | orderBy:'lastname' | startFrom:currentPage * pageSize | limitTo:pageSize | filter:search"
            >
              <td>{{ student.idno }}</td>
              <td>
                <span ng-hide="student.edit"
                  >{{ student.lastname | uppercase }}, {{ student.firstname |
                  uppercase }}</span
                >
                <div class="w3-row">
                  <input
                    class="w3-third"
                    ng-show="student.edit"
                    ng-model="student.lastname"
                    type="text"
                  />
                  <input
                    class="w3-half"
                    ng-show="student.edit"
                    ng-model="student.firstname"
                    type="text"
                  />
                </div>
              </td>
              <td>
                <span ng-hide="student.edit"
                  >{{ student.course }} - {{ student.level }}</span
                >
                <div class="w3-row">
                  <select
                    class="w3-half"
                    ng-show="student.edit"
                    ng-model="student.course"
                    style="
                      text-align: center;
                      border: none;
                      border-bottom: 2px solid black;
                    "
                  >
                    <option value="BSIT">BSIT</option>
                    <option value="BSCS">BSCS</option>
                    <option value="ACT">ACT</option>
                  </select>
                  <select
                    class="w3-half"
                    ng-show="student.edit"
                    ng-model="student.level"
                    style="
                      text-align: center;
                      border: none;
                      border-bottom: 2px solid black;
                    "
                  >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
              </td>
              <td>
                <button ng-click="EditStudent(student)">EDIT</button>
                <button ng-click="DeleteStudent(student.idno)">DELETE</button>
              </td>
            </tr>
          </table>
        </div>
        <br />
        <br />
        <div class="w3-row">
          <div class="w3-half w3-container">
            <div class="w3-left">
              <button
                ng-disabled="currentPage==0"
                ng-click="currentPage=currentPage-1"
              >
                Prev
              </button>
              {{ currentPage+1 }} / {{numberOfPages() }}
              <button
                ng-disabled="currentPage>=studentList.length/pageSize-1"
                ng-click="nextPage()"
              >
                Next
              </button>
            </div>
          </div>
          <div class="w3-half w3-right w3-container" style="width: 100px">
            <button
              class="w3-blue w3-padding w3-margin-right"
              ng-click="SaveTable()"
            >
              SAVE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
